@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

@font-face {
    font-family: "Oswald";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
}


@layer components {

    /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
    /** {
  scrollbar-width: thin;
  scrollbar-color: #FF11CF #DFE9EB;
}*/

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #DFE9EB;
    }

    *::-webkit-scrollbar-track:hover {
        background-color: #B8C0C2;
    }

    *::-webkit-scrollbar-track:active {
        background-color: #B8C0C2;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #FF11CF;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #FF11CF;
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: #FF11CF;
    }

    .glass {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 3px solid rgba(255, 255, 255, 0.3);
    }

    body {

        @apply antialiased p-0 m-0 flex h-screen w-auto text-white fill-white font-montserrat;
        background-image: url("https://images.unsplash.com/photo-1637952112301-6090dca83ccb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }

    hr {
        @apply w-full h-0.5 mx-auto bg-gray-50/20 border-0 rounded;
    }

    .card {
        @apply bg-[#14223f]/80 py-7 px-10 border-2 rounded-xl border-slate-600 shadow;
    }

    button.primary {
        @apply bg-fuchsia-500 hover:bg-fuchsia-700 flex flex-row gap-3 px-5 py-2 rounded-lg border-sky-100 border;
    }

    ul.tabs>li {
        @apply hover:bg-fuchsia-500/75 px-10 py-2 rounded-lg cursor-pointer;
    }

    ul.tabs>li.active {
        @apply bg-fuchsia-500;
    }

    a.iconbutton {
        @apply hover:bg-fuchsia-500 px-3 py-3 rounded-full cursor-pointer visited:fill-white;
    }

    ul.menu>li {
        @apply hover:bg-fuchsia-500/75 py-3 px-5 rounded-lg cursor-pointer flex flex-row gap-3;
    }

    ul.menu>li.active {
        @apply bg-fuchsia-500;
    }




}